html {
    height: 100%
}

html,
body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    min-height: 100%;
    position: relative;
    background: #eeeeee !important;
}

.page-wrapper {
    min-height: 100%;
    position: relative;
    padding: 80px 0 0;
    @media screen and (max-width: 1023px) {
        padding: 60px 0;
    }
}

.container {
    width: 1200px !important;
    max-width: 100%;
    padding: 0 15px;
}

.section-main {
    padding: 70px 0 80px;
    @include clearfix;
    @include b(tablet) {
        padding: 30px 0 30px;
    }
}

.sidebar {
    width: 370px;
    float: right;
    position: relative;
    @include b(desktop) {
        width: 100%;
        float: none;
    }
}

.article,
.main {
    width: calc(100% - 400px);
    float: left;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 6px 16px 0 rgba(black, .15);
    @include b(desktop) {
        width: 100%;
        float: none;
        margin-bottom: 40px;
    }
}

.main {
    box-shadow: none;
    background: transparent;
}

.paging {
    display: block;
    text-align: left;
	background: #FFF;
	margin: 25px 0;
	display:flex;
	align-items: center;
	justify-content:space-between;
    .nav-previous,
    .nav-next {
		padding: 15px;
        a {
            line-height: normal;
            border:0;
            vertical-align: middle;
            color: #666;
            &:hover {
                color: #0086FB;
                vertical-align: middle;
			}
			i {
				vertical-align: bottom;;
			}
        }
    }
}
