.sidebar {
	&__item {
		box-shadow: 0 6px 16px 0 rgba(black,.15);
		&+&{
			margin-top:40px;
		}
		&-content {
			padding:28px 40px;
			background:#fff;
			line-height:0;
			font-size:0;
	        @include b(tablet){
				padding:14px 15px;
	        }
		}
		&-caption{
			font-size:20px;
			font-weight:500;
			font-family:'Roboto', sans-serif;
			line-height:36px;
			color:#555;
			padding:34px 40px 20px;
			margin:0;
			background:#f5f5f5;
	        @include b(tablet){
				padding:14px 15px 10px;
	        }
		}
	}
	&__posts{
		&-list{
			list-style:none;
			margin:0;
			li {
				padding:0;
				margin:0 0 26px;
		        @include b(tablet){
		            margin: 0 0 14px;
		        }
				a{
					display:inline;
					font-family:'SF UI Display', sans-serif;
					font-weight:400;
					font-size:16px;
					line-height:26px;
					color:#424242;
					border-bottom:1px dashed #424242;
					&:hover,&:focus{
						text-decoration:none;
						border-bottom-style:solid;
					}
				}
			}
		}
	}
	&__tags {
		&-list {
			a[rel="tag"]{
				margin-bottom:10px;
			}
		}
	}
}